
*.pper
Praca_dyplomowa_DS/.Rproj.user/E4DFAC5F/rmd-outputs
Praca_dyplomowa_DS/.Rproj.user/E4DFAC5F/saved_source_markers
Praca_dyplomowa_DS/.Rproj.user/E4DFAC5F/sources/per/t/C9680B2C
Praca_dyplomowa_DS/.Rproj.user/E4DFAC5F/sources/per/t/C9680B2C-contents
Praca_dyplomowa_DS/.Rproj.user/E4DFAC5F/sources/prop/B8A9A728
Praca_dyplomowa_DS/.Rproj.user/E4DFAC5F/sources/prop/INDEX
